
.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon-container > * {
    margin-right: 10px;
  }

  .icon-container > *:hover {
    cursor: pointer;
    color: #007bff;
  }

  .icon-container > .delete-icon:hover {
    color: red; 
  }

/* .add-user-container {
  position: fixed;
  bottom: 600px; 
  right: 20px; 
  z-index: 9999;
  background-color: #ece4e4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
} */
.add-user-link {
  position: fixed;
  bottom: 600px; 
  right: 20px;
  background-color: #7d6565;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none; 
  display: inline-block; 
}

.add-user:hover {
  background-color: #555;
}
