/* ProjectHistory.css */

.form-container {
    margin: 20px;
  }
  
  .project-history-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Change the number here to adjust the number of columns */
    grid-gap: 16px;
  }
  
  .project-item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #ccc;
  }
  
  .project-item-cell {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .no-history {
    text-align: center;
    margin-top: 16px;
    font-style: italic;
    color: #666;
  }
  