.form-container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 1%;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }

  .form-control{
    display: flex;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon-container > * {
    margin-right: 10px;
  }

  .icon-container > *:hover {
    cursor: pointer;
    color: #007bff;
  }

  .icon-container > .delete-icon:hover {
    color: red; 
  }

.add-user-link {
  bottom: 80vh; 
  right: 2vw;
  background-color: #7d6565;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none; 
  display: inline-block; 
}
.add-pro-link {
  bottom: 80vh; 
  right: 8vw;
  background-color: #7d6565;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none; 
  display: inline-block; 
}

.add-user:hover {
  background-color: #555;
}
.container {
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 5%;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center; 
  margin-right: 0px; 
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f0f0f0 !important; /* Your desired background color */
}