.document-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .document-section {
    margin-bottom: 20px;
  }
  
  h4 {
    margin-bottom: 10px;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
  }
  
  .file-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .file-controls {
    margin-left: 10px;
  }
  
  .delete-button {
    background-color: #ff5252;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
  }
  
  .delete-button:hover {
    background-color: #ff0000;
  }
  
  .upload-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
  }
  
  .upload-button:hover {
    background-color: #45a049;
  }
  