.timesheets-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.grid-header {
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.grid-row {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ddd;
    padding: 5px;
}  

button[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }